HelloWCFClient/Connected Services/AliveIdeaService/AliveIdeaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AliveIdeaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2112/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAliveIdeaService_ObtenerMarcas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarcas" />
  </wsdl:message>
  <wsdl:message name="IAliveIdeaService_ObtenerMarcas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarcasResponse" />
  </wsdl:message>
  <wsdl:message name="IAliveIdeaService_CrearMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearMarca" />
  </wsdl:message>
  <wsdl:message name="IAliveIdeaService_CrearMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearMarcaResponse" />
  </wsdl:message>
  <wsdl:portType name="IAliveIdeaService">
    <wsdl:operation name="ObtenerMarcas">
      <wsdl:input wsaw:Action="http://tempuri.org/IAliveIdeaService/ObtenerMarcas" message="tns:IAliveIdeaService_ObtenerMarcas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAliveIdeaService/ObtenerMarcasResponse" message="tns:IAliveIdeaService_ObtenerMarcas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/IAliveIdeaService/CrearMarca" message="tns:IAliveIdeaService_CrearMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAliveIdeaService/CrearMarcaResponse" message="tns:IAliveIdeaService_CrearMarca_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAliveIdeaService" type="tns:IAliveIdeaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerMarcas">
      <soap:operation soapAction="http://tempuri.org/IAliveIdeaService/ObtenerMarcas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearMarca">
      <soap:operation soapAction="http://tempuri.org/IAliveIdeaService/CrearMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AliveIdeaService">
    <wsdl:port name="BasicHttpBinding_IAliveIdeaService" binding="tns:BasicHttpBinding_IAliveIdeaService">
      <soap:address location="http://localhost:2112/AliveIdea" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>