HelloWCFClient/Connected Services/AliveIdeaService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMarca">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Marca" nillable="true" type="tns:Marca" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMarca" nillable="true" type="tns:ArrayOfMarca" />
  <xs:complexType name="Marca">
    <xs:sequence>
      <xs:element name="DescripcionCorta" nillable="true" type="xs:string" />
      <xs:element name="DescripcionLarga" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Margen" type="xs:decimal" />
      <xs:element minOccurs="0" name="Slogan" nillable="true" type="xs:string" />
      <xs:element name="VisibilidadPrecio" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Marca" nillable="true" type="tns:Marca" />
</xs:schema>